<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <httpCompression minFileSizeForComp="1024" staticCompressionDisableCpuUsage="90" staticCompressionEnableCpuUsage="0">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <staticContent>
            <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <!-- use utf-8 encoding for anything served text/plain or text/html -->
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".rss" />
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
            <!-- HTML5 Audio/Video mime types-->
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <remove fileExtension=".ogv" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
            <remove fileExtension=".webm" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <!-- Proper svg serving. Required for svg webfonts on iPad -->
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <remove fileExtension=".svgz" />
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
            <!-- HTML4 Web font mime types -->
            <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
            <remove fileExtension=".eot" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".crx" />
            <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
            <remove fileExtension=".xpi" />
            <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
            <remove fileExtension=".safariextz" />
            <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
            <!-- Flash Video mime types-->
            <remove fileExtension=".flv" />
            <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
            <remove fileExtension=".f4v" />
            <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
        </staticContent>
    </system.webServer>
</configuration>